<div class="min-h-screen bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900 p-4 sm:p-6 lg:p-8">
  <!-- Header -->
  <app-header></app-header>
  <div *ngIf="loading">
    <!-- Loading Spinner -->
    <app-loading-template path="GraphQL"></app-loading-template>
  </div>
  <div *ngIf="!loading" class="max-w-7xl mx-auto">
    <!-- Stats -->
    <app-stats [tasks]="tasks" [categories]="categories"></app-stats>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
      <!-- Columns for every category -->
      <div *ngFor="let category of categories"
        class="category-column bg-white/95  rounded-2xl p-5 border border-gray-200 hover:border-gray-300 transition-all duration-300 hover:shadow-xl shadow-lg"
        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event, category)">

        <!-- Header Category -->
        <app-card-header [category]="category" [groupedTasks]="groupedTasks">
        </app-card-header>

        <!-- Lista de tareas de esta categoría -->
        <div class="space-y-3 min-h-[250px]">
          <div *ngFor="let task of groupedTasks[category]" draggable="true"
            (dragstart)="onDragStart($event, task, category)" (dragend)="onDragEnd($event)"
            (dragover)="onDragOver($event)" (drop)="onDropReorder($event, task, category)"
            class=" bg-white border border-gray-200 rounded-xl p-4 hover:border-gray-300 cursor-move  hover:shadow-md group">
            <!-- Task Card -->
            <app-task-card [task]="task"></app-task-card>
          </div>
          <app-empty-tasks [category]="category" [groupedTasks]="groupedTasks"></app-empty-tasks>
        </div>
      </div>
    </div>
    <!-- Instructions -->
    <app-instructions></app-instructions>
  </div>
</div>